.input {
  width: 90%;
  border: transparent;
  border-bottom: 2px solid #000;
  font-size: 22px;
}

.input:focus {
  outline: none;
}

.search__select {
  border: transparent;
  font-size: 15px;
  font-weight: 500;
}

.search__label {
  color: grey;
  font-size: 22px;
  font-weight: 600;
  margin-right: 8px;
  margin-left: 15px;
}
